*{
    margin: 0%;
}
.navigation{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color:purple;
color: white;
padding-bottom: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation>div>a{
text-decoration: none;
color: white;
font-weight: bold;
font-size: 20px;
margin-top: 20%;
padding-right: 20px;


}
.navigation>h1{
    color: rgb(226, 226, 226);
}
.navigation>img{
    width: 20%;
    border-radius: 50px;
    margin-left: 2%;


}
.links{
    margin-top: 30px;
    margin-right: 1%;
}
.section-one>img{
    width: 100vw;
    margin-top: 10%;
    
 

}
.section-one{
    margin-top: 2%;
    padding-bottom: 0px;
    
}

.section-one>p{
font-size: 30px;
margin-left: 2%;
width: 90%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    
  
  
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:purple ;
    color: white;
    margin-top: 100px;
    padding: 2%;
}

.footer-one{
    width: 50%;
margin-right: 2%;
}
.footer>div>a{
    color: white;
    
    font-size: 20px;

}

.footer>div>a{
 text-decoration: none; 
 text-decoration: underline;  
}
.footer>div>h1{
 margin-top: 2%;
}
.footer>div>a:hover{
    text-decoration: underline;
    color: grey;   
    
   }
   .section-one>img{
    width: 90vw;
    border-radius: 50px;
    margin-left: 5%;
   }
   .section-one>p>span{
    color: purple;
   }

.imagesSections{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.About{
    padding: 2%;
    font-size: 30px;
}
.About>h1,.About>h2{
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
}
.Contact{
    padding: 2%;
    font-size: 30px; 
}
.Contact>h1,.Contact>h2{
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
}
label{
   
    margin: 2%;

}
textarea{
    margin: 2%;
    margin-left: 0%;
}
.imagesSections>img{
    width: 40vw;
    padding: 5%;
    margin-left: 7%;
    
}
#comment{
 position: relative;
 bottom: 100px;
}
#Name{
    margin-left: 59px;
}